{% extends 'base.html.twig' %}

{% block title %}Panel Estadísticas{% endblock %}

{% block body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Panel Estadísticas</h1>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Urls más visitadas</h6>
            </div>
            <div class="card-body">
                {% for url in urls %}
                    <h4 class="small font-weight-bold">
                    <a target="_blank" href="{{ url.hash }}">{{ url.hash }}</a>
                    <span class="float-right">{{ url.percentUse }}%</span>
                    </h4>
                    <h5 class="small font-weight-bold">{{ url.longUrl }}</h5>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: {{ url.percentUse }}%" aria-valuenow="{{ url.percentUse }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Uso de estrategias %</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="myPieChart" width="462" height="245" class="chartjs-render-monitor" style="display: block; width: 462px; height: 245px;"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    {% for strategy in strategies %}
                        <span class="mr-2">
                            <i class="fas fa-circle {{ strategy.colorClass }}"></i> {{ strategy.name }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
            {% for strategy in strategies %}
            "{{ strategy.name }}",
            {% endfor %}
        ],
        datasets: [{
            data: [{% for strategy in strategies %}{{ strategy.percentUse }},{% endfor %}],
            backgroundColor: [{% for strategy in strategies %}'{{ strategy.color }}',{% endfor %}],
            hoverBackgroundColor: [{% for strategy in strategies %} '{{ strategy.hoverColor }}',{% endfor %}],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        },
        legend: {
        display: false
        },
        cutoutPercentage: 80,
    },
    });
</script>

{% endblock %}


